- name: schema.graphql
  type: file
  {% if children %}
  content: |
  {% for child in children %}
{{ child.graphql | indent(4, true) }}
  {% endfor %}
  {% endif %}
- name: schema.prisma
  type: file
  {% if children %}
  content: |
    datasource db {
      provider = "postgresql"
      url      = env("DATABASE_URL")
    }

    generator client {
      provider = "prisma-client-js"
    }
  {% for child in children %}
{{ child.prisma | indent(4, true) }}
  {% endfor %}
  {% endif %}
