{%- macro convert_type(type, output_type) -%}
    {# Détecter la nullabilité par la présence d'un "?" à la fin du type #}
    {%- set is_nullable = false -%}
    {%- if type.endswith('?') -%}
        {%- set is_nullable = true -%}
        {%- set type = type[:-1] -%}
    {%- endif -%}

    {%- set type_mapping = {
        'string': {'prisma': 'String', 'graphql': 'String'},
        'int': {'prisma': 'Int', 'graphql': 'Int'},
        'float': {'prisma': 'Float', 'graphql': 'Float'},
        'boolean': {'prisma': 'Boolean', 'graphql': 'Boolean'},
        'datetime': {'prisma': 'DateTime', 'graphql': 'DateTime'},
        'id': {'prisma': 'String', 'graphql': 'ID'},
        'json': {'prisma': 'Json', 'graphql': 'Json'}
    } -%}

    {%- if type.startswith('List[') and type.endswith(']') -%}
        {%- set inner_type = type[5:-1] -%}
        {# Pour la liste, on convertit l'élément en laissant la détection de nullabilité sur l'élément #}
        {%- set converted_inner = convert_type(inner_type, output_type) -%}
        {%- if output_type == 'prisma' -%}
            {{ converted_inner }}[]{%- if is_nullable -%}?{%- endif -%}
        {%- elif output_type == 'graphql' -%}
            [{{ converted_inner }}]{%- if not is_nullable -%}!{%- endif -%}
        {%- endif -%}

    {%- elif type.startswith('Map[') and type.endswith(']') -%}
        {%- set inner_type = type[4:-1] -%}
        {%- set converted_inner = convert_type(inner_type, output_type) -%}
        {%- if output_type == 'prisma' -%}
            Json{%- if is_nullable -%}?{%- endif -%}
        {%- elif output_type == 'graphql' -%}
            Json{%- if not is_nullable -%}!{%- endif -%}
        {%- endif -%}

    {%- elif type in type_mapping -%}
        {%- set prisma_type = type_mapping[type]['prisma'] -%}
        {%- set graphql_type = type_mapping[type]['graphql'] -%}

        {%- if output_type == 'prisma' -%}
            {{ prisma_type }}{%- if is_nullable -%}?{%- endif -%}
        {%- elif output_type == 'graphql' -%}
            {{ graphql_type }}{%- if not is_nullable -%}!{%- endif -%}
        {%- endif -%}

    {%- else -%}
        {{ type }}
    {%- endif -%}
{%- endmacro -%}
